body {
  background-color: #ffffff;
  color: #999999;
  font-family: 'Poppins', Helvetica, sans-serif;
  text-align: center;
  font-weight: 300;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.hidden {
  display: none;
}

#container {
  background-image: url("./assets/Background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  /*justify-items: center;*/
  align-items: center;
  justify-content: space-between; /*space-evenly;*/
}
/*.flex-section {
  flex-grow: 1;
  justify-items: center;
  align-items: center;
}*/
#train-model-button {
  width: 200px;
  --background-color: #1A73E8;
  --color: #ffffff;
}
#train-model-button:hover {
  --color: #1A73E8;
}

#intro {
  max-width: 877px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  color: black;
  font-weight: 700;
}

.content h1 {
  font-size: 48px;
  margin-bottom: 0px;
}

#intro-copy {
  margin-top: 50px;
  padding-bottom: 20px;
  font-size: 24px;
  color: #555;
}

#images.flex-section {
  display: flex;
  justify-items: center;
  align-items: center;
  max-width: 100%;
  /*width: 640px;*/
  height: 420px;
  overflow: hidden;
  margin: 0 auto;
}
#intro-image {
  max-width: 100%;
  width: 600px;
}

#buttons {
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 100px;
}

/*
#images img {
  width: 850px;
  height: auto;
}*/

#prediction-section {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.ready #prediction-section {
  display: flex;
}

#inference-camera-container {
  width: 270px;
  height: 270px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-right: 28px;
}

.prediction-image {
  width: 406px;
  height: 270px;
  box-sizing: border-box;
  border: 1px solid black;
  margin-left: 28px;
}

.ready #intro-image {
  display: none;
}

@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 812px)
  and (orientation : portrait) {
    #inference-camera-container {
      width: 135px;
      height: 135px;
      display: none;
    }
    #prediction-image {
      width: calc(100vw - 32px);
      height: 135px;
    }
                      
}

#auto {
  margin: 0px 50px;
  background-image: url("./assets/Auto.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#logo {
  margin: 0px 50px;
  background-image: url("./assets/Logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}


#logo_auto{
  width: 100%;
  margin-top: 150px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

/*tm-croppable-webcam {
    width: 270px;
    height: 270px;
    position: fixed;
    left: 50%;
    top: calc(100vh - 230px);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}*/

.content {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#train-model-button {
  background-image: url("./assets/Button_los.svg");
  height: 100px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: all 0.05s ease-in-out 0s;
}

#train-model-button:hover {
  transform: rotate(-2deg) scale(1.2);
}
